<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/output.css">
</head>
<body class="min-h-screen flex flex-col bg-[#F5F5F5]">
    <div class="border-b-2 border-[#E5E7EB] flex p-3">
        <h1 class="font-[625] text-[24px] relative left-1">KOTAK</h1>
    </div>
    
    <div class="flex flex-grow justify-center items-center relative bottom-3">
        <form action="/sign-in" method = "POST" class="flex flex-col gap-5 p-3">
            <h1 class="text-[18px] font-[600]">Sign in to KOTAK</h1>
            <div class="flex flex-col">
                <h1 class="font-[550]">Email</h1>
                <input type="text" placeholder="john@test.com" class="bg-[#F9FAFB] p-2 rounded-lg text-[14px] border-2 border-[#E5E7EB]" name = "username">
            </div>

            <div class="flex flex-col">
                <h1 class="font-[550]">Password</h1>
                <input type="password" placeholder="******" class="bg-[#F9FAFB] p-2 rounded-lg text-[14px] border-2 border-[#E5E7EB]" name = "password">
            </div>

            <h1 class="text-[#4D5562] text-[15px] relative left-1">
                Don't have an account yet? <a class = "cursor-pointer text-blue-500" href="/sign-up">Sign up here</a>
            </h1>
            <button class="self-start bg-[#2D679C] p-2 text-white rounded-lg px-4 text-[15px] font-[600]">Log In</button>
        </form>
    </div>
</body>
</html>